* {
  font-family: sans-serif;
}
input,
button {
  font-size: 20px;
  padding: 15px;
  border-radius: 5px;
}
input {
  display: block;
  margin-bottom: 10px;
  border-color: white;
}
button {
  border: 1px solid gray;
  background: whitesmoke;
  margin-right: 5px;
}
button:nth-last-child(2),
button:nth-last-child(1) {
  background: black;
  color: white;
  
  -webkit-border-radius:;
  -moz-border-radius:;
  -ms-border-radius:;
  -o-border-radius:;
}
